.App {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* Prevent overflow */
  z-index: -1;
}

.gridjs .gridjs-table {
  tr:hover td {
        background-color: rgba(0, 0, 0, 0.1);
      }
}
/* Reduce font size for Grid.js table cells */
.gridjs .gridjs-td {
  font-size: 14px; /* Adjust the font size as needed */
}

/* Optionally, reduce font size for table headers */
.gridjs .gridjs-th {
  font-size: 14px; /* Adjust the font size for headers */
  border: #e2e3dc 1px solid;
}

.gridjs .gridjs-footer {
  font-size: 14px; /* Adjust the font size for footers */
}

.sankey-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Dark blue background */
  overflow: auto; /* Allow scrolling if content overflows */
  z-index: 1; /* Ensure it is above the background */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}